<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Meus dados</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h2>Meus dados</h2>
        <p><strong>Nome:</strong> <span th:text="${usuario.nome}">Nome</span></p>
        <p><strong>E-mail:</strong> <span th:text="${usuario.username}">email</span></p>
        <p><strong>Perfil:</strong> <span th:text="${usuario.perfil}">PERFIL</span></p>
    </div>
</body>
</html>
