<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${appNome}">Login Seguro</title>
    <link rel="stylesheet" th:href="@{'/temas/' + ${appTema} + '/tema.css'}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
    <div th:replace="~{fragments/cabecalho :: cabecalho}"></div>
    <div th:replace="~{fragments/menu :: menu}"></div>

    <main class="conteudo">
        <div th:replace="~{fragments/mensagens :: mensagens}"></div>
        <div layout:fragment="conteudo">
            <p>Conteudo da pagina.</p>
        </div>
    </main>

    <div th:replace="~{fragments/rodape :: rodape}"></div>
</body>
</html>
